/* 
* Challenge Name    : عمل Gaming Profile بأكثر من قسم
* Start Date        : 2-12-2021
* Last Update       : 8-12-2021 11:00 AM
* End Date          : 8-12-2021 :11:45 AM
* Contact Us        : mohammedmodather144@gmail.com
* Git Hub url       : https://github.com/MohammedModather2020
*/
/* 
* 1- General Style
   1.0- Universal Element
   1.1- Body Style
* 2- Section Style
   2.0- About Me
   2.1- Points Log
   2.3- Trophies
   2.4 Ladder News
   2.5- Powers 
* 3- Common Style 
   3.0- Font Family
   3.1- Container Section  
   3.2- Background Secondary
   3.3- Typegrapha Word 
   3.4- Header
   3.5- Line horizontal
*/
/** 1- General Style */
/**  1.0- Universal Element */
*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
/** 1.1- Body Style */
body{
  font-family: 'Cairo', sans-serif;
  background-color: #EEEEEE;
}
/** 2- Section Style */
/**  2.0- About Me */
.about-me{
  margin-top: 2rem;
  margin-bottom: .8rem;
}
.about-me .container{
  display: grid;
  grid-template-columns: 1fr 4fr;
}
.about-me .images{
  position: relative;
  display: flex;
  margin-left: -24px;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
.about-me .images::after{
  content: "";
  position: absolute;
  top: -16px;
  height: 114%;
  width: 1px;
  background-color: #ddd;
  right: 1rem;
}
.about-me .images img{
  width: 150px;
  height: 150px;
  padding: .2rem;
  border-radius: 50%;
  border: 1px solid #ccc;
}
.about-me .images .progress{
  width: 75%;
}
.about-me .images .progress .title{
  text-align: center;
  margin-block: .5rem;
  font-size: .9rem;
}
.about-me .images .progress .line{
  border: 0;
  height: 1rem;
  width: 100%;
  margin: auto;
  position: relative;
  background-color: #f6f6f6;
  border-radius: .3rem;
}
.about-me .images .progress .line::before{
  content: "";
  position: absolute;
  width: 80%;
  height: 1rem;
  left: 0;
  background-color: #009688;
}
.about-me .images .progress .sub-title{
  font-size: .7rem;
  margin-top: .5rem;
  text-align: center;
  color: #777777;
}
.about-me .text{
  position: relative;
}
.about-me .text .title{
  font-size: 1.5rem;
  font-weight: bolder;
}
.about-me .text .desc{
  line-height: 1.8;
  color: #777777;
  font-size: .9rem;
}
.about-me .text .day-plays{
  font-size: .9rem;
  color: #777777;
  font-weight: normal;
  position: absolute;
  right: 0;
  bottom: 0;
}
/** 2.1- Points Log */
.points {
  margin-top: .8rem;
}
.points .log{
  font-size: .9rem;
  color: #888;
}
.points .log span{
  font-weight: bold;
}
/** 2.3- Trophies  */
.trophies{
  margin-top: .8rem;
}
.trophies .items{
  margin-top: .5rem;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  gap: 1rem;
}
.trophies .items .item{
  width: 70px;
  height: 70px;
}
.trophies .items .item img{
  width: 70px;
  height: 70px;
  object-fit: cover;
}
.trophies .items .item.opacity{
  opacity: .2;
}
/** 2.4 Ladder News  */
.ladder-news{
  margin-top: .8rem;
}
.ladder-news .desc{
  font-size: .9rem;
  color: #777777;
}
/** 2.5- Powers */
.powers{
  margin-top: .8rem;
}
.powers .items{
  list-style: none;
}
.powers .items .item{
  display: flex;
  justify-content: space-between;
  margin-block: .4rem;
  color: #777777;
  font-size: .9rem;
}
/**3- Common Style  */
/** 3.0- Font Family */
@font-face{
  src: url(../assets/fonts/DroidKufi-Regular.ttf);
  font-family: 'DroidKufi-Regular';
}
/** 3.1- Container Section */
.container{
  width: 80%;
  margin: auto;
  background-color: #ffffff;
  padding: 1rem;
}
/** 3.2- Background Secondary */
.bg-secondary{
  background-color: #607D8B;
  color: #fff;
}
/** 3.3- Typegrapha Word */
.tx-green{
  color: #009688;
}
.tx-red{
  color: #EA2D6A;
}
.tx-blue{
  color: #6BABF4;
}
/** 3.4- Header  */
header .title{
  font-size: 1.2rem;
  display: inline-block;
  padding-block: .2rem;
  padding-inline: .5rem 1rem;
  margin-bottom: .6rem;
}
/** 3.5- Line horizontal */
.line{
  margin-block: .4rem ;
  border: 0;
  height: 1px;
}
.line-gray{
  background-color: #f6f6f6;
}
.line-darkgray{
  background-color: #e5e5e5;
}
.line-w-80{
  width: 80%;
  margin-inline: auto;
  margin-top: .8rem;
}